TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
REDIS_HOST=
DATABASE_FILE=
APP_ENV=dev # dev para sqlite, prod para postgres
OWNER_ID=
SECRET_KEY=
ENC_KEY=
WEBAPP_URL=
WEBHOOK_URL=
CORS_ALLOW_ORIGINS=
JWT_ISSUER=t.me/legendasbrbot
GIN_MODE=release
